@page "/"

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col-md-12">
        <h2 class="mt-4">Welcome to the Auth0 ASP.NET Core Blazor Starter Project</h2>
        <p>To follow along in building this sample please <a href="https://auth0.com/docs/quickstart/webapp/aspnet-core-blazor">refer to the Quickstart</a>.</p>
    </div>
</div>

